<p-panel header="Movies">
  <div class="grid">
    <div class="col-12">
      <div class="card">
        <p-dataView
          #dataView
          [value]="movies"
          [paginator]="true"
          [rows]="20"
          filterBy="Title"
          [sortField]="sortField"
          [sortOrder]="sortOrder"
          layout="grid"
        >
          <ng-template let-movie pTemplate="gridItem">
            <div
              class="col-12 md:col-3"
              [routerLink]="['movie-id', movie.id, 'details']"
            >
              <div class="card m-3 border-1 surface-border" appCustomDirective>
                <div
                  class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2"
                >
                  <div class="flex align-items-center">
                    <!-- <i class="pi pi-tag mr-2"></i> -->
                    <span class="font-semibold">{{ movie.genre }}</span>
                  </div>
                  <!-- <span>{{ movie.Year }}</span> -->
                </div>
                <div
                  class="flex flex-column align-items-center text-center mb-3"
                >
                  <img
                    [src]="movie.poster"
                    [alt]="movie.plot"
                    width="200"
                    class="shadow-2 my-3 mx-0"
                  />
                  <div class="text-2xl font-bold">{{ movie.title }}</div>
                  <div class="mb-3">{{ movie.year }}</div>
                  <p-rating
                    [(ngModel)]="movie.imdbRating"
                    [stars]="10"
                    [readonly]="true"
                    [cancel]="false"
                  ></p-rating>
                </div>
                <!-- <div class="flex align-items-center justify-content-between">
                <span class="text-2xl"></span>
              </div> -->
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </div>
    </div>
  </div></p-panel
>
