<p-panel header="Movie details">
  <div>
    <div class="grid">
      <div class="col-5 flex align-items-center justify-content-center">
        <div class="p-fluid">
          <img
            [src]="movie?.poster"
            [alt]="movie?.plot"
            width="200"
            class="shadow-2 my-3 mx-0"
          />
          <p>
            <li><span>title:</span>{{ movie?.title }}</li>
          </p>
          <p-knob
            [valueTemplate]="movie?.imdbrating + ''"
            [disabled]="true"
            [min]="0"
            [max]="10"
          ></p-knob>
        </div>
      </div>
      <div class="col-5 flex align-items-center justify-content-start">
        <div>
          <ul>
            <li><span>year:</span>{{ movie?.year }}</li>
            <li><span>rated:</span>{{ movie?.rated }}</li>
            <li>
              <span>released:</span>{{ movie?.released | date : "MMMM d, y" }}
            </li>
            <li><span>runtime:</span>{{ movie?.runtime }}</li>
            <li><span>genre:</span>{{ movie?.genre }}</li>
            <li><span>director:</span>{{ movie?.director }}</li>
            <li><span>writer:</span>{{ movie?.writer }}</li>
            <li><span>actors:</span>{{ movie?.actors }}</li>
            <li>
              <span>plot:</span>
              <div class="card">
                <div style="width: 250px; height: 100px; overflow: auto">
                  <p>{{ movie?.plot }}</p>
                  <p-scrollTop
                    target="parent"
                    styleClass="custom-scrolltop"
                    [threshold]="100"
                    icon="pi pi-arrow-up"
                  ></p-scrollTop>
                </div>
              </div>
            </li>
            <li><span>language:</span>{{ movie?.language }}</li>
            <li><span>country:</span>{{ movie?.country }}</li>
            <li><span>awards:</span>{{ movie?.awards }}</li>
            <li><span>ratings:</span>{{ movie?.ratings }}</li>
            <li><span>metascore:</span>{{ movie?.metascore }}</li>
            <li><span>imdbrating:</span>{{ movie?.imdbrating }}</li>
            <li><span>imdbvotes:</span>{{ movie?.imdbvotes }}</li>
            <li><span>type:</span>{{ movie?.type }}</li>
            <li><span>dvd:</span>{{ movie?.dvd }}</li>
            <li><span>boxoffice:</span>{{ movie?.boxoffice }}</li>
            <li><span>production:</span>{{ movie?.production }}</li>
            <li><span>website:</span>{{ movie?.website }}</li>
            <li><span>response:</span>{{ movie?.response }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex justify-content-end">
      <p-button
        label="Edit"
        styleClass="p-button-warning"
        (onClick)="onClickEditButton()"
      ></p-button>
    </div>
  </div>
</p-panel>
